@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 10% 92%;
    --foreground: 222 47% 4%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 4%;

    --primary: 222 47% 11%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11.2%;

    --muted: 214 32% 91%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  /* No dark mode for this phase as per user's discrete/professional request */
  .dark {

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 40 20% 95%;

    --border: 24 15% 20%;
    --input: 24 15% 20%;
    --ring: 90 51% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Hide number input spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}